body{
  background-color: #ffffff;
  height: 2300px;
  color: #344277;
  font-family: lato;
}


@font-face {
  font-family: "Beauty";
  src: url('FONT/Beauty.otf');
}


/* ZONE GRISE */


div.gris {
  background-color: #f8f8f8;
  padding: 2%;
  padding-bottom: 20%;
}


div.menu {
  text-align: right;
  margin-top: 20px;
  margin-bottom: 40px;
}

div.menu a:link, a:visited, a:active {
  color: #344277;
  font-size: 25px;
  text-transform: uppercase;
  margin: 10px;
  padding-bottom: 5px;
  transition-property: color;
  transition-duration: 0.25s;
  text-decoration: none;
  position: relative;
}

div.menu a:hover:after {
  content: "";
  display: block;
  height: 4px;
  position: absolute;
  background-color: #ca6a78;
  top: 90%;
  right: 0;
  left: 0;
}

div.menu a:hover {
  color: #ca6a78;
}


.icon {
  width: 20px;
}


.logo {
  width: 30%;
  margin-left: 3%;
}


.imghead {
  width: 50%;
  position: absolute;
  right: 0;
  top: 200px;
}


p.title {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 3vw;
  color: #ca6a78;
  margin-top: 1%;
  margin-left: 11%;
  margin-bottom: 5%;
}


p.hibou {
  visibility: hidden;
}

/* ZONE BLANCHE */


h1 {
  font-family: Beauty;
  font-size: 50px;
  line-height: 50px;
  font-style: italic;
  color: #ca6a78;
  padding-left: 10%;
  padding-top: 5%;
}


h2 {
  font-family: Beauty;
  font-size: 50px;
  line-height: 50px;
  font-style: italic;
  color: #ca6a78;
  padding-right: 10%;
  text-align: right;
}


p.texte {
  padding: 10%;
  padding-top: 5%;
  text-align: justify;
  font-size: 25px;
  line-height: 1.3;
}


ul {
  list-style-image: url('IMAGES/pucebleue.png');
  padding: 10%;
  padding-top: 5%;
  font-size: 25px;
}

li:nth-last-child(2) {
  list-style-image: url('IMAGES/pucerose.png');
}


/* FORMULAIRE */


div.formulaire {
  text-align: center;
  margin-top: -50px;
}

input {
  width: 500px;
  border: 2px solid #dbe1e3;
  border-radius: 5px;
  font-size: 23px;
  background-position: 12px 12px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 50px;
  margin-bottom: 10px;
}

input[type=text] {
  background-image: url('IMAGES/form1.png');
}

input[type=email] {
  background-image: url('IMAGES/form2.png');
}

input:focus {
  border: 2px solid #879ae3;
  outline: none;
}

textarea {
  width: 500px;
  height: 300px;
  border: 2px solid #dbe1e3;
  border-radius: 5px;
  font-size: 23px;
  background-image: url('IMAGES/form3.png');
  background-position: 12px 12px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 50px;
  margin: 10px;
}

textarea:focus {
  border: 2px solid #879ae3;
  outline: none;
}

input[type=submit] {
  width: 200px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #344277;
  border: none;
  padding: 16px 32px;
  text-decoration: none;
  margin-bottom: 50px;
}


/* ZONE BLEUE  */


div.bleu {
  height: 450px;
  background-color: #344277;
}


h3 {
  font-family: Beauty;
  font-size: 50px;
  line-height: 50px;
  font-style: italic;
  text-align: right;
  color: #ffffff;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 3%;
}


.reseaux {
  text-align: right;
  margin-right: 10%;
}

.reseauximg {
  width: 100px;
}


/* ZONE HIBOU */


.bonus {
  margin: 50px;
  margin-right: auto;
  margin-left: auto;
}


.hibouimg {
  width: 80px;
}


.hibou {
  font-size: 13px;
  color: #000000;
  border-left: 4px solid #eac382;
  text-align: justify;
  padding-left: 20px;
  height: 10px;
  width: 300px;
}


/* RESPONSIVE */


@media screen and (max-width: 900px) {
  body{
  font-size: 17px;
  height: 1550px;
}
div.menu a:link, a:visited, a:active {
  font-size: 17px;
}
div.menu a:hover:after {
  height: 3px;
  background-color: #ca6a78;
  top: 80%;
}
p.title {
  letter-spacing: 1px;
  font-size: 25px;
  margin-bottom: 5%;
  margin-left: 12%;
}
.icon {
  width: 15px;
}
.logo {
  width: 230px;
}
.imghead {
  width: 50%;
}
h1, h2, h3 {
  font-size: 35px;
}
p.texte {
  font-size: 19px;
  line-height: 1.3;
}
ul {
  font-size: 19px;
}
div.bleu {
  height: 700px;
}
div.formulaire {
  margin-top: -30px;
}
input {
  width: 400px;
  font-size: 20px;
}
textarea {
  width: 400px;
  height: 300px;
  font-size: 20px;
}
input[type=submit] {
  width: 200px;
}
div.bleu {
  height: 350px;
}
}


@media screen and (max-width: 600px) {
body{
  height: 1100px;
}
div.gris {
  padding-bottom: 60%;
}
div.menu a:link, a:visited, a:active {
  font-size: 14px;
  margin: 3px;
}
.icon {
  width: 12px;
}
.logo {
  margin-left: 25%;
  margin-right: 25%;
}
p.title {
  font-size: 20px;
  text-align: center;
  margin-right: 3%;
}
.imghead {
  width: 80%;
  top: 250px;
  left: 10%;
  right: 10%;
}
div.bleu {
  height: 500px;
}
div.formulaire {
  margin-top: 0px;
}
input {
  width: 300px;
  font-size: 17px;
}
textarea {
  width: 300px;
  height: 200px;
  font-size: 17px;
}
input[type=submit] {
  width: 150px;
}
div.bleu {
  height: 300px;
}
}
